<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>MAHALLLLLLL</h1></center>
    {% load static %}
    <center><img src="{% static 'Studio Ghibli.jpeg' %}" alt="Myimage"></center>

    <center><button><a href ="{% url 'hobbies' %}">hobbies</a></button></center>
    <br>
    <center><button><a href ="{% url 'index' %}">back to Home</a></button></center>
</body>
</html>